<!DOCTYPE html>
<html>
<head>
    <title>YOLANDA fEBRIANTI BR SILALAHI</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" src="olan.jpeg">
                    <hr>
                    <h4>Yolanda Silalahi</h4>
                    <p>Hallo GAESS</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>my Campus</h4>
                    <hr>
                    <p>IT Telkom Purwokerto "Software engineering 2017"</p>
                </div>

                <br>
                
                <h1 align="center">to do list</h1>

        <table id="id_todo_table" border="1" align="center">
            <tr>
                <td>1. DiRumahAja</td>
            </tr>
            <tr>
                <td>2. Chef Dadakan</td>
            </tr>
            <tr>
                <td>3. yeay "Waktunya ngerjain Tugas tanpa Tutorial"</td>
            </tr>
            <tr>
                <td>4. Anti Libur-Libur Club</td>
            </tr>

        </table>
            </div>

        </div>

    </div>

 
        
        
        <hr align="center" width="100%" color="#3a3634" size="2">  

        <h3 align="center" style="margin-top: 30px;">No Comment</h1>
        <table id="id_list_table" align="center">
            {% for item in items %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
            {% endfor %}
        </table>

        <form method="POST" align="center" >
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>
            

    </body>
</html>